.assist-panel {
  width: 40vw;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 8px 12px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin: 10px auto;
}

.panel-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.panel-links a,
.panel-links button.faq-button,
.panel-links button.problems-button {
  padding: 6px 10px;
  text-align: center;
  background-color: #ff3333;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.panel-links a:hover,
.panel-links button.faq-button:hover,
.panel-links button.problems-button:hover {
  background-color: #ff5252;
}

.button-logo {
  height: 16px;
  width: 16px;
}